<app-menu></app-menu>

<div class="container mt-4">
    <app-producto-cplist-unrouted [id_tipousuario_session] = "tipousuarioSession_id">
        <header>
            <div class="p-3 mb-3 bg-light rounded-3">
                <img class="img-fluid" src="assets/img/wildCart600.png" style="height:50px">
                <h6 class="text-muted text-monospace m-3">el carrito que siempre quisiste tener, pero nunca te atreviste
                    a
                    programar</h6>
            </div>
        </header>
    </app-producto-cplist-unrouted>
</div>

<app-footer></app-footer>