<footer>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-12 text-center">
        <img src="assets/img/wildCart600.png" width="200">
        <p class="text-muted">by Rafael Aznar & students
          <a href="https://github.com/rafaelaznar">
            <i [ngClass]="oIconService.getIcon('github-alt')"> </i>
          </a> @2021<br>
          <a class="small" href="https://opensource.org/licenses/MIT">MIT Licensed</a>
        </p>        
      </div>
    </div>
  </div>
</footer>